
// Global
$margin: 10px;
$margin-small: 0px;
$background: rgba(255,255,255,.8);
$padding: 10px 15px;
$text-color: black;
$border: 1px solid $text-color;

@import "map";

div.leaflet-overlay-pane {
  // filter: blur(3px);
}

html, body {
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: $text-color;
	font-family: Courier;
  font-size: 16px;
  max-height: 100%;

}
h1, h2, h3, h4 {
  font-family: 'zigguratmedium_italic';
  margin-bottom: 5px;
}
a, a:hover, .leaflet-container a {
  color: $text-color;
}
input::selection, ::selection {
  background: white;
  color:  $text-color;
}
#overlay {
  position: absolute;
  z-index: 1000;
  background-color: transparent;
}
#sidebar {
  width: 100%;
  max-width: 500px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
#header {
  padding: $padding;
  background: $background;
  margin: $margin;
  border: $border;

  h1 {
   font-size: 2.5em;
   line-height: 1em; 
  }
  h2 {
    font-size: 20px;
  }
  p {
    margin-bottom: 10px
  }
}
#searchResults {
  @extend #header;
  padding: 0px;
  display: flex;
  flex-direction: column;

  .results {
    overflow: auto;
    flex-shrink: 3;
    .result {
      padding: $padding;
      border-bottom: $border;
    }
  }
  .result-header {
    min-height: 50px;
    border-bottom: $border;
    display: flex;
    padding: 15px 20px; 
    justify-content: space-between;
    align-items: center;
    div {
      margin-right: 10px;
    }
  }
}

// Semantic fixes
.ui.input input, .ui.input input:focus, .ui.input.error input, .ui.input.error input:focus {
	background: transparent;
	border: $border;
	color: $text-color;
	font-family: Courier;
}
.ui.input {
	color: $text-color;
}
.ui.negative.message {
  background-color: #b53131;
  color: white;
  .header {
    color: white;
  }
}
.ui.negative.message, .ui.attached.negative.message {
  box-shadow: 0px 0px 0px 0px #de8c8c inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}


